// Colors

$primary-color: #2F78FC;
$primary-text-grey: #424242;
$primary-link-text: complement(#5069bc);
$darken-primary-text-grey: lighten($primary-text-grey, 35%);
$secondary-background: #EFEFEF;

$border-lines: 1px solid #E9E9E9; // border seperator;

// Font styles

 $font-light: 300; 


