@import "_reset.scss";  

// Defining
@import "_variables.scss";
@import "_mixins.scss";

// Globals
@import "_globals.scss";


*{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box;
	padding: 0;
	margin: 0;
		&:after{
			@extend *;
		}
		&:before{
			@extend *;
		}
}

.cf{
	&:before,
	&:after {
	    content: " "; 
	    display: table; 
	}
	&:after {
	    clear: both;
	}
	&{
	    *zoom: 1;
	}
}

.navi { 
	border-bottom: 1px solid #ededed;
	a {text-decoration: none;}

	@media only screen and (max-width: 600px) {
		[class^="icon-"] {
       		font-size: 2.5em;
    	}
	}    	
}

.menu {
	float: right;
	margin: 0;
	padding: 0;

	li{
		display: inline-block;
		font-size: .85em;
		text-transform: uppercase;
		padding: 30px 12px;
		
		a {
			color: $primary-text-grey;
			text-decoration: none;
		
			&:hover{
			text-decoration: underline; 
			} 
		}
	}
	@media only screen and (max-width: 600px) {
		&{
			display: none;
			float: left;
			width:100%;
			margin-bottom: 20px;
		}
		& li{
			width:50%;
			float: left;
			padding: 10px 0;
		}
	}	
}

/* used for navigation  */ 
.pull{
	float: left;
}
.push{
	float: right;
}
/* end used for navigation  */ 

.hero{
	text-align: center;
	background: $primary-color;

	h1, h4{
		color:#fff;
		line-height: 1.25em;
    	font-family: 'Roboto', sans-serif;
		font-weight: 100;
		}
	h1 {
		padding: 40px 0 20px 0;
		font-size: 3.5em;
	}
	h4{
		padding: 20px 60px 80px 60px;
		font-size: 1.75em;
		
	}

	@media only screen and (max-width: 600px) {
			h1{
				font-size: 3em;
			}
			h4{
				padding: 20px 5px 80px 5px;
				font-size: 1.5em;
			}
		}
}
.intro{
	text-align: center;
	padding: 50px 0 70px 0;
	border-bottom: 1px solid #ededed;

	h2{
		font-size: 2em;
		padding: 20px 0 60px 0;
		line-height: 1.25em;
	}
	h4{
		font-size: 1.5em;
		padding: 20px 0 15px 0;
	}
	img{
			max-width: 100%;
	}
	@media only screen and (max-width: 600px) {
		.span_4{
			width: 100%;
			margin-bottom:60px;
		}
		.end{
			width: 100%;
			float: left;		
		}

		.intro p{
			font-size: .95em;
		}
	}
}

.gridmaker{
	text-align: center;
	background: $secondary-background;
	padding: 80px 0 70px 0;

	h2{
		font-size: 2.5em;
    	font-family: 'Roboto', sans-serif;
		padding: 0 140px 40px 140px;
		line-height: 1.25em;

			@media only screen and (max-width:768px){
				& {
					padding: 0 20px 40px 20px;
				  }
			}
     }
	label{
		color: $primary-text-grey;
		font-size: 1.25em;
	}

	span{
		display: inline-block;
		width: 200px;
		color: #c81d19;
		font-size: .85em;
	}
	small{
		position: relative;
		top: 10px;
	}
	p{
		display: inline-block;
		padding: 15px;
		position: relative;
	}	
}


.style-field{
	border: 1px solid #d4d4d4;
	border-radius: 6px;
	height: 45px;
	width:180px;
		@media only screen and (max-width:600px){
			&{
				width: 100%;
		 	 }
		}		
}
input[value]{
	text-align: center;
	padding:10px;
}

p.button-block {
	margin: 40px 0 40px 0;
	display: block;

}
input[type="submit"] {
    color: #fff;
    font-size: 1.25em;
    border:none;
	border-bottom: 4px solid rgba(2, 93, 184, 1);
	background: $primary-color;
	padding: 15px 85px;
	width:235px;
	height:55px;
	border-radius: 6px;
}

input:focus, button {
	outline: 0;
}

/*****************************************************
*   The Download CSS Grids Button  
*****************************************************/
.download button{
	color: #fff;
	border: none;
	border-bottom: 4px solid rgba(244, 101, 15, 1);
	background: #fc9a5f;
	padding: 5px 40px 14px;
	width:235px;
	height:55px;
	border-radius: 6px;
	
	.icon-download:before{
		content: "\e606";
		color:#fff;
		font-size: 1.25em;
		margin-left:-50px;
	}

}
/***************************************************/
/* css form output   */
.grid_css {
	border: 1px solid #d4d4d4;
	border-radius: 4px;
	max-width: 700px;
	margin: 0px auto;
	background: #fff;
	padding:10px;
	margin-bottom: 20px;
	text-align: left;
	font-size:.875em;
}
pre {
    white-space: pre-wrap;
    overflow-x: auto;
	overflow-y: hidden
}

/**************************************************
*   Git Hub custom Gist 
***************************************************/
.gist{
	text-align: left;
	margin: 20px auto 10px auto;
	max-width: 600px;
}

.gist .gist-file{
	border-bottom: none !important;
}
.gist-meta{
	display: none;
}

#file-grid-row-html-LC1 span.s,
#file-grid-column-html-LC2 span.s, 
#file-grid-column-html-LC3 span.s,
#file-grid-column-html-LC4 span.s{
	font-weight: 800; 
} 

#file-css-grid-column_end-html-LC2 span.s, 
#file-css-grid-column_end-html-LC3 span.s,
#file-css-grid-column_end-html-LC4 span.s,
#file-css-grid-column_end-html-LC5 span.s{
	color:#0f9678;
	font-weight: 800; 
}
/***************************************************/

.setup{
	text-align: center;
	padding: 70px 0 80px 0;
	border-bottom: $border-lines;
		p{
			font-size: 1.15em;
			padding: 10px 140px;
		
		@media only screen and (max-width:768px){
				& {
					padding: 10px 20px;
				  }
				}		
		}
		a{
			color: $primary-link-text;
		}
		h3{
			font-size: 2em;
			padding: 10px 0 20px 0;
		}	
}

.share{
	text-align: center;
	padding: 140px 0 180px 0;
	border-bottom: $border-lines;
		a{	
			font-size: 1.25em;
			color: #fff;
			}
		h3{
			font-size: 2em;
			padding: 10px 0 20px 0;
		}	

}

.samples{
	text-align: center;
	background: $primary-color;
	padding: 80px 0 70px 0;
		img{
		max-width:90%;
		margin: 20px 0px;
	}
	h3, p{
		color: #fff;
	}
	h3{
		font-size: 2em;
		line-height: 1.25em;
		padding: 10px 0px 20px 0px;
	
	@media only screen and (max-width:768px){
				& {
				font-size: 1.5em;
				}
			}
	}
}
.bubble{
	padding: 0px 5px 2px 5px;
	border-radius: 5px;
	border: 1px solid #d4d4d4;
	background: rgba(224, 224, 224, 0.3 );
	color: #5069bc;
}

.twitter-button{
	background-color: #8ac5fc;
	-webkit-box-shadow: 0px 4px 0px rgba(177, 215, 250, 1);
	-moz-box-shadow: 0px 4px 0px rgba(177, 215, 250, 1);
	-ms-box-shadow: 0px 4px 0px rgba(177, 215, 250, 1);
	box-shadow: 0px 4px 0px rgba(177, 215, 250, 1);
	&:hover{
			background-color: #60B1FC;
	}
}
.fork-button{
	background-color: #474848;
	-webkit-box-shadow: 0px 4px 0px rgba(90, 90, 90, 1);
	-moz-box-shadow: 0px 4px 0px rgba(90, 90, 90, 1);
	-ms-box-shadow: 0px 4px 0px rgba(90, 90, 90, 1);
	box-shadow: 0px 4px 0px rgba(90, 90, 90, 1);
	&:hover{
			background-color: #343434;
	}
}
.twitter-button,.fork-button{
	@include bigbutton;
		@media only screen and (max-width:600px){
			& {
				width: 100%;
				margin: 30px 0;
		 	 }
		}		
}

/*   Footer Rules */

.foot{
	background: $secondary-background;
	padding: 30px 0;

}
.sig{
	margin: 0 auto;

	small{
		text-align:left;
		display: block;
		margin: 5px auto 10px;
		font-size: .7em;
	}
	a{
		color: $primary-text-grey;
	}
}

/*  End Footer Rules */

[class^="icon-"], [class*=" icon-"] {
    font-family: 'icomoon';
    speak: none;
    font-size: 1.75em;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.home{
	padding-top:30px;
	font-size: .95em;
	color: $darken-primary-text-grey;
}
.icon-home:before {
	content: "\e604";
}
.icon-mail:before {
    content: "\e600";
}
.icon-googleplus:before {
    content: "\e602";
}
.icon-twitter:before {
    content: "\e603";
}
.icon-github:before {
    content: "\e601";
}

.icon-arrow-up:before {
	content: "\e607";
	padding:1px;
}
.social-group span{
	margin: 10px 5px 0 0;
}
.social-group a{
	text-decoration: none;
	color:#b3b3b3;
}
.social-group a:hover{
	color:$primary-color;;
}
.social-group p{
	font-size: .80em;
	padding: 15px 0px;
}
.back-to-top {
    position: fixed;
    bottom: 6.5em;
    right: 0px;
    text-decoration: none;
    color: #c6c6c6;
    opacity: 0.5;
    padding: .25em .5em 1em 0;
    display: none;
}
.back-to-top:hover {    
	color: #c6c6c6;
	opacity: 1;
	@media only screen and (min-width: 601px) and (max-width:768px){
		.back-to-top {
	  	  padding: 0 .25em 1em 0;
 		}
	}
}

// Define classes for sample grids below



.sample-hero {
		font-weight: $font-light;;
		padding: 20px 0px;
	h2{
		font-size: 2.5em;
		line-height: 1.35em;
		margin-bottom:8px; 
		@media only screen and (max-width:600px){
			& {
				font-size: 2.25em;
		 	 }
		}		
	}	
		
	p{
		font-size: 1.15em;
		line-height: 1.65em;
		margin-bottom: 20px;
	}
}

 .column_row{
	padding:6px;
	color:#fff;
	background: $secondary-background;
	border-radius: 2px;
	text-align: center;
	font-size:.875em;
	margin-top:30px;
		@extend .cf;

		& div{
			background: $primary-color;
			margin-bottom: 2px ;
			border-radius: 3px;
			padding:12px;
	}
}

.nest{
	& div {
		background: #025DB8;
		margin-top:0px;
	}	
}

//  Loop through Column widths

[class^="columns_"]{
	margin-right: -100%; 
	padding:10px;
	float:left;
}

// Fluid Grid variables // Gutter size 22px divided by container width 1080px

$column_width: 5.787037037037037%;
$column_gutters: 2.777777777777778;  // 30px
$margin: $column_width + $column_gutters;
$num_of_cols: 12;


@for $i from 1 through $num_of_cols {
	.columns_#{$i}{
		@if $i == 1 {
			width: ($column_width * $i);	
		}
		@else {	
			width: ($column_width * $i) + (( $i - 1 ) * $column_gutters);		
		}
	}	
}

//  Loop through Column Margins

@for $i from 1 through $num_of_cols {
	.span-#{$i}{
		@if $i == 1 {
			margin-left: 0%;
			}
		@else if $i == 1 {
			margin-left: $margin;
		} 
		@else {
			margin-left: $margin * ($i - 1);
		}
	}
}	


@media only screen and (max-width: 600px) {
		[class*="span-"] {
			margin-left: 0%;
			overflow: hidden;
			clear: both;
			margin-bottom: 4%; 
		}

		[class*="columns_"]{
			width:100%; 
			margin-right:-100%; 
			float:left; 
		}
		
		.icon-list:before {
			content: "\e605";
		}

		#toggleMenu{
			cursor: pointer;
			padding: 15px 0;
		} 
}